@use "../utils/" as u;
@use "../utils/mixins" as *;

body{
    width: 100%;
    height: 100vh;
    font-family: u.$font;
    background-color: var(--white);
}

section{
    display: grid;
    grid-template-columns: 20% auto;
}
.bloc-nav{
    background-color: var(--blending_blue);
    nav{
        .dashboard{
            @include display_flex;
            color: var(--black);
            background-color: var(--white);
            padding: 8px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            a,i{
                color: var(--black);
            }
        }
        div{
            @include display_flex;
            margin-top: 15px;
            margin-left: 15px;
            padding: 8px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            &:hover{
                background-color: var(--white);
                transition: 0.5s;
                color: black;
                a,i{
                    color: var(--black);
                }
            }

            a,i{
                color: var(--white);
            }
        }
    }
}

.bloc-item{
    padding: 15px;
}

.bloc-user{
    @include display_flex;
    justify-content: space-between;

    .user{
        border-radius: 5px;
        padding: 5px 5px;
        border: 2px solid var(--blending_blue);
    }

    div{
        @include display_flex;
        gap: 10px;
        align-items: center;
    }
}

.bloc-containers{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    column-gap: 10px;
    .items-content-bar{
        display: grid;
        gap: 10px;
    }
}

.progress-circle-bar{
    @include display_flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px var(--blending_blue);
    @keyframes progress {
        0% {
          stroke-dasharray: 0 100;
        }
    }
      .circle-svg {
        display: block;
        max-height: 60px;
    }
      .circle-svg text {
        text-align:center;
        color:black;
        font-size: 8px;
    }
      .circle-svg path.percent {
        stroke: var(--blending_blue);
        fill: none; 
        stroke-width: 2.5; 
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
    }
      .circle-svg path.around {
        stroke: #c4c4c4;
        fill: none;
        stroke-width: 2.5; 
    }
}
#bloc-charts{
    height: 300px;
    border-radius: 10px;
    font-family: u.$font;
    box-shadow: 0px 0px 3px 0px var(--blending_blue);
}

.event{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px var(--blending_blue);
    .event-content{
        @include display_flex;
        div{
            width: 100%;
            padding: 20px;
            margin-top: 5px;
            text-align: center;
            color: var(--white);
            border-radius: 10px;
            background-color: var(--blending_blue);
        }
    }
}

.calendar{
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px var(--blending_blue);
    .month{
        width: 100%;
        color: var(--white);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: var(--blending_blue);
        display: flex;
        flex-direction: row;
        padding: 12px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        i{
            cursor: pointer;
        }
    }
    .weekdays{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        div{
            width: calc(400px/7);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    .days{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div{
            width: calc(400px/7);
            padding: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &:hover:not(.today){
                cursor: pointer;
                color: var(--white);
                border-radius: 8px;
                background-color: var(--shadow1);
            }
        }
        .today{
            border-radius: 8px;
            color: white;
            background-color: var(--blending_blue);
        }
        .prev-date,.next-date{
            opacity: 0.5;
        }
    }
}

.robotic-prototybe-design{
    display: grid;
    margin-top: 10px;
    gap: 10px;
}

.item-robotic{
    @include extern_design;
    color: var(--white);
    background-color: var(--blending_blue);
    .item-content{
        @include display_flex;
        justify-content: space-between;
    }
    .item{
        @include display_flex;
        align-items: center;
        div{
            border-left: 2px solid var(--white);
            h4,a{
                margin-left: 10px;
            }
            a{
                color: var(--shadow1);
            }
        }
    }
    p{
        align-self: flex-end;
    }
}

.item-prototype{
    @extend .item-robotic;
    color: var(--black);
    background-color: var(--white);
    .item{
        div{
            border-left: 2px solid var(--black);
        }
    }
}

.item-web-desing-lesson{
    @extend .item-prototype;
}

.lecture{
    @include display_flex;
    .lecture-content{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        color: white;
        background-color: var(--blending_blue);
        .lecture-item{
            @include display_flex;
            align-items: center;
            p img{
                width: 60px;
                height: 60px;
                object-fit: cover;
            }
        }
        .lecture-number{
            @include display_flex;
            align-items: center;
            justify-content: flex-end;
            a{
                font-size: 30px;
                color: var(--shadow1);
            }
        }
    }
    
    
}
