@use "../utils/mixins" as *;
@use '../utils/font' as u;

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//pour les liens
a{
    text-decoration: none;
    align-items: center;
}

//pour les inputs
input{
    border: none;
    outline: none;
    font-family: u.$font;
}

//pour les images
p img{
    width: 25px;
    border-radius: 50%;
}


//pour notre boutton
button{
    @include display_flex;
    padding: 8px 15px;
    border-radius: 20px;
    margin-top: 240px;
    margin-left: 20px;
    align-items: center;
    font-family: u.$font;
    border: 1px solid var(--white);
    background: none;

    a,i{
        color: var(--white);
    }
    &:hover{
        border: none;
        background-color: var(--white);
        a,i{
            color: var(--black);
            font-weight: bolder;
        }
    }
}