@use '../utils' as u;

@include u.breakpoint(desktop){
    .bloc-nav{
        display: none;
    }
    section{
        display: grid;
        grid-template-columns: auto;
    }
}

@include u.breakpoint(tablet){
    .bloc-containers{
        display: grid;
        grid-template-columns: auto;
    }

    .calendar{
        width: 100%;
        .weekdays div{
            width: calc(100%/7);
        }
    }
    /*.container{
        margin-top: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }*/
}