@use '../utils' as u;

@include u.breakpoint(desktop){
    .nav_bloc{
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        .icon{
            position: absolute;
            margin-left: 23px;
            margin-top: 17px;
            font-size: 1.5rem;
        }
        button{
            margin-top: 170px;
        }
    }
    .bloc-nav{
        display: none;
    }
    section{
        display: grid;
        grid-template-columns: auto;
    }
    .user_search{
        margin-left: 50px;
    }

}

@include u.breakpoint(tablet){
    .bloc-containers{
        display: grid;
        grid-template-columns: auto;
    }

    .calendar{
        width: 100%;
        margin-top: 10px;
        .weekdays{
            width: 100%;
            div{
                width: calc(100%/7);
            }
        }
        .days{
            @extend .weekdays;
        }
    }
    @media screen and (max-width: 600px){
        .bloc-user{
            display: flex;
            flex-direction: column;
            .user-notification{
                justify-content: flex-end;
            }
        }
        .bar_menu{
            top: 38px;
        }
        .user, input{
            width: 100%;
        }
    }


}

@include u.breakpoint(mobile){
    @media screen and (max-width: 380px){
        .second-child{
            margin-top: 90px;
        }
        
        .lecture{
            display: grid;
            gap: 0;
        }
        .bloc-chart{
            overflow: auto;
            #bloc-charts{
                width: 180%;
            }
        }
    }

}